body {
  font-family: 'Courier New', Courier, monospace;
  background-color: yellow;
  text-align: center;
}

a {
  text-decoration: none;
  color: sienna;
  background-color: lavender;
  padding: 10px;
}

#description {
  color: darkred;
}
img {
  width: 80%;
  height: 500px;
}
